<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指定对应的接口类-->
<mapper namespace="cn.letao.online_grocery_store.dao.RoleMapper">
    <select id="queryRoleInfo" parameterType="Integer" resultType="Role">
        select * from role where id=#{roleId} limit 1
    </select>
</mapper>