<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace指定对应的接口类-->
<mapper namespace="cn.letao.online_grocery_store.dao.SellerMapper">
   <select id="querySeller" parameterType="Seller" resultType="Seller">
      select * from seller
      <where>
         <if test="username != null and username != ''">
            AND username=#{username}
         </if>
         <if test="phonenumber != null and phonenumber != ''">
            AND phonenumber=#{phonenumber}
         </if>
         <if test="store_name != null and store_name != ''">
            AND store_name=#{store_name}
         </if>
         <if test="id!=null">
            AND id=#{id}
         </if>
      </where>
      limit 1
   </select>
   <insert id="register" parameterType="Seller">
      insert into seller
      <trim prefix="(" suffix=")" suffixOverrides="," >
         username,password,phonenumber,address,realname,store_name,
         <if test="imgPath!=null and imgPath!=''" >
            imgPath,
         </if>
         <if test="imgPhysicalPath!=null and imgPhysicalPath!=''" >
            imgPhysicalPath,
         </if>
         roleId,status,loginStatus
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
         #{username},#{password},#{phonenumber},
          #{address},#{realname},#{store_name},
         <if test="imgPath!=null and imgPath!=''" >
            #{imgPath},
         </if>
         <if test="imgPhysicalPath!=null and imgPhysicalPath!=''" >
            #{imgPhysicalPath},
         </if>
         2,'正常','logout'
      </trim>
   </insert>
   <update id="updateSeller" parameterType="Seller">
      update seller
      <trim prefix="set" suffixOverrides=",">
         <if test="password!=null and password!=''">
            password=#{password},
         </if>
         <if test="phonenumber!=null and phonenumber!=''">
            phonenumber=#{phonenumber},
         </if>
         <if test="address!=null and address!=''">
            address=#{address},
         </if>
         <if test="imgPath!=null and imgPath!=''">
            imgPath=#{imgPath},
         </if>
         <if test="imgPhysicalPath!=null and imgPhysicalPath!=''">
            imgPhysicalPath=#{imgPhysicalPath},
         </if>
         <if test="loginStatus!=null and loginStatus!=''">
            loginStatus=#{loginStatus},
         </if>
         <if test="status!=null and status!=''">
            status=#{status},
         </if>
         <if test="store_name!=null and store_name!=''">
            store_name=#{store_name},
         </if>
         <if test="msg!=null">
            msg=#{msg},
         </if>
      </trim>
      where id=#{id}
   </update>
   <delete id="delSeller" parameterType="Integer">
      delete from seller where id=#{id}
   </delete>
   <select id="queryAbnormalSeller" resultType="Seller">
      select * from seller where status !='正常'
   </select>
   <select id="selectSellerMsg" parameterType="java.lang.Integer" resultType="java.lang.String">
      select  msg from seller where id=#{id}
   </select>
</mapper>