<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>下单界面</title>
    <link rel="stylesheet" href="/static/css/common/bootstrap.min.css">
    <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/js/common/bootstrap.min.js"></script>
    <script src="/static/js/shop/order.js"></script>
</head>
<body>
<input type="hidden" th:value="${idArray}" th:if="${productId}==null" id="idArray">
<input type="hidden" th:value="${productId}"  th:if="${idArray}==null" id="productid">
<div class="container" style="position: relative">
    <div class="address">
        <dl class="row" style="background-color: #1e7e34;color: #FFF" th:if="${default} ne null">
            <dt class="col-sm-4">收件人</dt>
            <dd class="col-sm-8" th:text="${default.rname}"></dd>
            <dt class="col-sm-4">手机号</dt>
            <dd class="col-sm-8" th:text="${default.phonenumber}"></dd>
            <dt class="col-sm-4">详细地址</dt>
            <dd class="col-sm-8" th:text="${default.address}"></dd>
        </dl>
        <button th:if="${default} ne null" class="btn btn-success form-control"
                onclick="window.open('/address/selectAddress')">收货信息管理</button>
        <button th:if="${default} eq null"　data-toggle="modal" data-target="#addAddress"
                class="btn btn-warning form-control">添加默认收货信息</button>
        <div class="modal fade" id="addAddress" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form id="FormAddress">
                            <input type="hidden" name="buyerId" th:value="${session.buyer.id}">
                            <input type="hidden" name="isDefault" value="1">
                            <div class="form-group">
                                <label for="rname" class="col-form-label">收件人:</label>
                                <input type="text" class="form-control" id="rname" name="rname" required>
                            </div>
                            <div class="form-group">
                                <label for="phonenumber" class="col-form-label">手机号:</label>
                                <input type="number" class="form-control" id="phonenumber" name="phonenumber" required>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-form-label">详细地址:</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${product} ne null">
        <form id="content">
            <div class="row" style="height: 200px">
                <img th:src="${product.imgPath}" height="200px" class="col-2">
                <span class="col-3 text-truncate">[[${product.title}]]</span>
                <span class="col-2" >¥[[${product.price}]]</span>
                <span class="col-1">数量:[[${order.amount}]]</span>
                <span class="col-2 text-justify" th:if="${order.specification} ne null and ${order.specification} ne ''">规格:[[${order.specification}]]</span>
                <span class="col-2" th:if="${order.specification} eq null or ${order.specification} eq ''">规格:无</span>
            </div>
        </form>
    </div>
    <div th:if="${cartList} ne null">
        <div class="row" style="height: 200px" th:each="cart:${cartList}">
            <img th:src="${cart.imgPath}" height="200px" class="col-3">
            <span class="col-3 text-truncate">[[${cart.title}]]</span>
            <span class="col-2">¥[[${cart.price}]]</span>
            <span class="col-1">数量:[[${cart.amount}]]</span>
            <span class="col-2 text-justify" th:if="${cart.specification} ne null and ${cart.specification} ne ''">规格:[[${cart.specification}]]</span>
            <span class="col-2" th:if="${cart.specification} eq null or ${cart.specification} eq ''">规格:无</span>
        </div>
    </div>
    <div style="position: absolute;bottom:0;left: 0;width: 100%;text-align: right">
        <span style="color:red">总金额:¥[[${total}]]</span>
        <form id="payForm">
            <input type="hidden" name="idArray" />
            <input type="hidden" name="productid">
            <input type="hidden" name="status"  th:value="${order.status}"  th:if="${order} ne null">
            <input type="hidden" name="id" th:value="${order.id}" th:if="${order} ne null">
            <input type="hidden" name="amount" th:if="${product} ne null" th:value="${order.amount}">
            <input type="hidden" name="specification" th:if="${product} ne null" th:value="${order.specification}">
            <input type="hidden" name="recipient" th:value="${default.rname}" th:if="${default} ne null" />
            <input type="hidden" name="phonenumber" th:value="${default.phonenumber}" th:if="${default} ne null" />
            <input type="hidden" name="address" th:value="${default.address}" th:if="${default} ne null" />
            <input type="hidden" name="buyerId" th:value="${session.buyer.id}" />
            <button type="button" class="btn btn-info" onclick="pay()">支付</button>
            <button type="button" class="btn btn-warning" onclick="history.go(-1)">返回</button>
        </form>
    </div>
</div>
</body>
</html>