<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<base th:href="@{/}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>商家菜单</title>
</head>
<body>
<nav  style="height: 100%" class="menu-container" th:fragment="leftnav">
	<ul class="menu-items">
		<li class="has-sub">
			　　<span class="dropdown-heading">商品管理</span>
			<ul>
				<li> <a th:href="@{seller/toaddProduct}"><i class="fa fa-circle-o"></i>上架商品</a> </li>
				<li> <a th:href="@{seller/showProduct}"><i class="fa fa-circle-o"></i>商品信息处理</a> </li>
			</ul>
		</li>
		<li class="has-sub">
			　　<span class="dropdown-heading">个人信息管理</span>
			<ul>
				<li><a th:href="@{seller/toUpdatePassword}"><i class="fa fa-circle-o"></i>修改密码</a></li>
				<li><a th:href="@{seller/showStatus}"><i class="fa fa-circle-o"></i>查看商家状态</a></li>
				<li><a th:href="@{seller/toUpdateInfo}"><i class="fa fa-circle-o"></i>修改本人信息</a></li>
				<li><a th:href="@{seller/deleteSeller}"><i class="fa fa-circle-o"></i>注销帐号</a></li>
			</ul>
		</li>
		<li class="has-sub">
			　　<span class="dropdown-heading">订单管理</span>
			<ul>
				<li><a th:href="@{seller/deleteOrder}"><i class="fa fa-circle-o"></i>删除订单信息</a></li>
				<li><a th:href="@{seller/orderAdmin}"><i class="fa fa-circle-o"></i>处理订单信息</a></li>
			</ul>
		</li>
	</ul>
</nav>
</body>
</html>