<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>卖家信息修改界面</title>
    <link   rel="stylesheet" href="/static/css/seller/material-design-iconic-font.css" />
    <link   rel="stylesheet" href="/static/css/seller/jside-menu.css"/>
    <link   rel="stylesheet" href="/static/css/seller/demo-only.css" />
    <link   rel="stylesheet" href="/static/css/common/bootstrap.min.css" />
    <link   rel="stylesheet" href="/static/css/seller/updateInfo.css"/>
    <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/js/common/jquery.jside.menu.js"></script>
    <script src="/static/js/seller/nav.js"></script>
    <script src="/static/js/common/verifyData.js"></script>
    <script src="/static/js/seller/updateInfo.js"></script>
</head>
<body>
<div class="container">
    <menu class="menubar">
        <menuitem>
            <button class="menu-trigger"> </button>
        </menuitem>
        <menuitem class="logo" title="Your Logo Goes Here">
            欢迎<span th:text="${session.seller.username}"></span>商家<a href="/seller/logout">退出</a>
        </menuitem>
    </menu>
    <nav th:replace="html/seller/leftnav :: leftnav"></nav>
    <main>
        <article>
            <div class="theme-tray">
                <form id="info"  enctype="multipart/form-data" method="post" onsubmit="return false;">
                    <div class="form-group">
                        <span>手机号:</span>
                        <input type="number"  class="form-control" name="phonenumber" th:value="${session.seller.phonenumber}"/>
                        <font id="phoneMsg"></font>
                    </div>
                    <div class="form-group">
                        <span>(不可修改)真实姓名:</span><span  th:text="${session.seller.realname}"></span>
                    </div>
                    <div class="form-group">
                        <span>地址:</span>
                        <input type="text"  class="form-control" name="address" th:value="${session.seller.address}"/>
                        <font id="addressMsg"></font>
                    </div>
                    <div class="form-group">
                        <span>商店名称:</span>
                        <input type="text"  class="form-control" name="store_name" th:value="${session.seller.store_name}"/>
                        <font id="storeNameMsg"></font>
                    </div>
                    <div class="upload-pic form-group">
                        <div>
                            <img th:if="${session.seller.imgPath}!=''" th:src="${session.seller.imgPath}" th:alt="选择并上传头像" th:id="head_portrait" />
                            <input type="file" id="head_portrait_file" class="form-control" name="mainPic" accept="image/*" />
                        </div>
                        <font id="imageMsg"></font>
                    </div>
                    <button class="btn btn-primary" id="btn1">修改</button>
                </form>
            </div>
        </article>
    </main>
</div>
</body>
</html>