<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<base th:href="@{/}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>卖家密码修改界面</title>
    <link rel="stylesheet" href="/static/css/common/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/seller/material-design-iconic-font.css" />
    <link rel="stylesheet" href="/static/css/seller/jside-menu.css"/>
    <link rel="stylesheet" href="/static/css/seller/demo-only.css" />
    <link rel="stylesheet" href="/static/css/seller/common.css"/>
    <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/js/common/jquery.jside.menu.js"></script>
    <script src="/static/js/seller/nav.js"></script>
    <script src="/static/js/common/verifyData.js"></script>
    <script src="/static/js/seller/updatePassword.js"></script>
</head>
<body>
<div class="container">
    <menu class="menubar">
        <menuitem>
            <button class="menu-trigger"> </button>
        </menuitem>
        <menuitem class="logo" title="Your Logo Goes Here">
            欢迎<span th:text="${session.seller.username}"></span>商家<a href="/seller/logout">退出</a>
        </menuitem>
    </menu>
    <nav th:replace="html/seller/leftnav :: leftnav"></nav>
    <main>
        <article>
            <div class="theme-tray">
                <form id="update">
                    <input type="hidden" th:value="${session.seller.id}" name="id">
                    <div class="form-group">
                       <label for="password">新密码</label>
                       <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                       <label for="confirmPassword">确认新密码</label>
                       <input type="password" class="form-control" id="confirmPassword">
                    </div>
                    <button type="button" class="btn btn-success" id="sub">修改</button>
                 </form>
                <span id="msg"></span>
            </div>
        </article>
    </main>  
</div>
</body>
</html>